body{
	margin: 1% 15% 0 15%;
	background-color: #BDBDBD;
}
header{
	border: 1px black solid;
	background-image: url("imagenes/header.png");
	width: 100%;
	height: 120px;
}

#menu{
	border: 1px black solid;
	width: 100%;
	height: 30px;
	margin: 1% 0 0 0;
	
}

#bienvenida{
	float: left;
	border: 1px black solid;
	height: 100%;
}

#btnperfil{
	height: 100%;
	float: right;
	margin-right: 15px;
	vertical-align: middle;
	border: 1px black solid;
}

#btncontactos{
	height: 100%;
	float: right;
	margin-right: 15px;
	border: 1px black solid;
}

#btnlista{
	height: 100%;
	float: right;
	margin-right: 15px;
	border: 1px black solid;
}

#btnperfil{
	height: 100%;
	float: right;
	margin-right: 15px;
	border: 1px black solid;
}

#btnlogout{
	height: 100%;
	float: right;
	border: 1px black solid;
}


#btncontactos a{
	text-decoration: none;
	color: black;
}

#btnlogout a{
	text-decoration: none;
	color: black;
}
#btnlista a{
	text-decoration: none;
	color: black;
}

#btnperfil a{
	text-decoration: none;
	color: black;
}

#contenido{
	width: 100%;
	height: 400px;
	margin: 1% 0 0 0;
}

#mapa{
	border: 1px black solid;
	width: 69%;
	height: 400px;
	float: left;
	display: block;
}

#contactos{
	border: 1px black solid;
	width: 30%;
	height: 400px;
	float: right;
	display: block;
}

#contactos button, #contactos h3, #contactos h4{
	width: 100%;
	height: 7%;
	border: 1px black solid;
	margin: 0 0 0 0;
}
#contactos button{
	background-color: #58ACFA;
}
#contactos h4{
	background-color: #08088A;
}

#piepagina{
	border: 1px black solid;
	width: 100%;
	height: 100px;
	margin: 1% 0 1% 0;
}

#componentes{
	margin: 2% 35% 0 35%;
}

#copyright{
	margin: 2% 42% 0 42%;
}